# News Category Analysis

## Objective 
Our main goal is to create a model that predict the category of news from their title and save the model and preprocessing functions to be used 
in a web application. Here are some definitions:

* **Dataset used**: The dataset used is the <a href="https://www.kaggle.com/datasets/rmisra/news-category-dataset">News Category Dataset</a> which contains around 210k news headlines from 2012 to 2022 from HuffPost.

* **Data preprocessing**: To use text for ML algorithms we need to convert our text into vectors. But, before this the data is prepared by following this steps: first, we clean the text by removing punctuations, repetitions and contractions, after this, our text is convert to tokens (and every token is stemming by SnowballStemmer), then, we apply the tf-idf vectorizer,finally, to reduce the dimensionality of our vectors we use PCA

* **Model definition and training**: Our dataset have for about 20k news, divide by 5 categories: business, art, education, science and sports. The training data contains 80% of all data, the rest is test data. As we have a good amount of data and small categories a simple logistic regression gives good results. So our model estimates what category is more likely to occur based on probabilities.

## Results

For training data or best model has 85% of accuracy, 84% of f1-score macro avg and 84% of f1-score weighted avg. At test data, it achieved 80% of accuracy, 78% of f1-score macro avg and 80% of f1-score weighted avg.

## Table of Contents
1. [Load the data](#load_data)
2. [Data preprocessing](#data_preprocessing)
3. [Create Training and Test data](#create_train_test_data)
4. [Defining the model](#defining_model)
5. [Model Hyperparameters tuning](#model_hyperparameters)
6. [Results](#results)
7. [Testing](#test)

<p id='load_data'><a href='#load_data'>#</a></p>

# 1 - Load the data

In [1]:
#imports
##imports for visualization and data preprocessing
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
import re
import string
import contractions
import pickle 

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

#imports for text preprocessing
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV

#ML libraries

from sklearn.metrics import classification_report, accuracy_score,roc_auc_score,mean_squared_error

#Web Scrapping Libraries
import requests
from bs4 import BeautifulSoup

In [2]:
#load data
directory = r"C:\Users\Talissa\Documents\env\flask_projects\newsApp\news\model_data\News_Category_Dataset_v2.json"

df = pd.read_json(directory,lines=True)

In [3]:
df.head(5)

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [4]:
df.shape

(200853, 6)

<p id='data_preprocessing'><a href='#data_preprocessing'>#</a></p>

# 2 - Data preprocessing

In [5]:
(df.groupby(["category"]).size()/df.shape[0])*100

category
ARTS               0.751296
ARTS & CULTURE     0.666657
BLACK VOICES       2.254385
BUSINESS           2.955893
COLLEGE            0.569571
COMEDY             2.576511
CRIME              1.695270
CULTURE & ARTS     0.512813
DIVORCE            1.705725
EDUCATION          0.499868
ENTERTAINMENT      7.994902
ENVIRONMENT        0.658691
FIFTY              0.697525
FOOD & DRINK       3.099779
GOOD NEWS          0.696031
GREEN              1.305432
HEALTHY LIVING     3.332786
HOME & LIVING      2.088592
IMPACT             1.722155
LATINO VOICES      0.562103
MEDIA              1.401523
MONEY              0.849875
PARENTING          4.320075
PARENTS            1.969102
POLITICS          16.299981
QUEER VOICES       3.143593
RELIGION           1.272572
SCIENCE            1.084375
SPORTS             2.431629
STYLE              1.122214
STYLE & BEAUTY     4.804011
TASTE              1.043549
TECH               1.036579
THE WORLDPOST      1.824220
TRAVEL             4.922506
WEDDINGS           1.817747
WEIRD NEWS         1.329330
WELLNESS           8.875645
WOMEN              1.737589
WORLD NEWS         1.083877
WORLDPOST          1.284024
dtype: float64

In [6]:
#number of categories
len(df["category"].unique())

41

In [7]:
#Change category is a function to change the categories in DF
def change_category(df,old_categories,new_category):
    for c in old_categories:
        data = df.loc[df.loc[:,"category"]==c]
        df.loc[data.index,"category"]=new_category
    return df

In [8]:
# Removing categories Culture & Arts, wellness, parenting, style, envioronment, taste, queer voices, latino voices,
#black voices, women, the worldpost, wedding, divorce, college, green para uma única categoria 

#arts & culture, culture & arts --> arts
#black voices, queer voices, latino voices, women --> social issues 
#style & beauty --> style 
#divorce e wedding --> social
#taste --> food & drink
#college --> education 
#green --> enviorement 
#parenting --> Parents
#the worldpost --> worldpost 
#wellness --> healthy living

new_categories = {"STYLE & BEAUTY":"STYLE", "ARTS & CULTURE":"ARTS","CULTURE & ARTS":"ARTS",
                  "PARENTING":"PARENTS","WELLNESS":"HEALTHY LIVING",
                 "DIVORCE":"SOCIAL","WEDDINGS":"SOCIAL","TASTE":"FOOD & DRINK",
                 "COLLEGE":"EDUCATION","THE WORLDPOST":"WORLDPOST","BLACK VOICES":"SOCIAL ISSUES",
                 "QUEER VOICES":"SOCIAL ISSUES","LATINO VOICES":"SOCIAL ISSUES","WOMEN":"SOCIAL ISSUES",
                 "GREEN":"ENVIRONMENT"}


for k,v in new_categories.items():
    df = change_category(df,[k],v)

In [9]:
len(df["category"].unique())

28

In [10]:
df["category"].unique()

array(['CRIME', 'ENTERTAINMENT', 'WORLD NEWS', 'IMPACT', 'POLITICS',
       'WEIRD NEWS', 'SOCIAL ISSUES', 'COMEDY', 'SPORTS', 'BUSINESS',
       'TRAVEL', 'MEDIA', 'TECH', 'RELIGION', 'SCIENCE', 'EDUCATION',
       'PARENTS', 'ARTS', 'STYLE', 'ENVIRONMENT', 'FOOD & DRINK',
       'HEALTHY LIVING', 'WORLDPOST', 'GOOD NEWS', 'FIFTY',
       'HOME & LIVING', 'SOCIAL', 'MONEY'], dtype=object)

In [11]:
df.groupby(["category"]).size()

category
ARTS               3878
BUSINESS           5937
COMEDY             5175
CRIME              3405
EDUCATION          2148
ENTERTAINMENT     16058
ENVIRONMENT        3945
FIFTY              1401
FOOD & DRINK       8322
GOOD NEWS          1398
HEALTHY LIVING    24521
HOME & LIVING      4195
IMPACT             3459
MEDIA              2815
MONEY              1707
PARENTS           12632
POLITICS          32739
RELIGION           2556
SCIENCE            2178
SOCIAL             7077
SOCIAL ISSUES     15461
SPORTS             4884
STYLE             11903
TECH               2082
TRAVEL             9887
WEIRD NEWS         2670
WORLD NEWS         2177
WORLDPOST          6243
dtype: int64

For our problem, we're going to use just 5 categories: Arts, Education, Science, Business and Sports

In [12]:
selected_categories = ["ARTS","EDUCATION","SCIENCE","BUSINESS","SPORTS"]
new_df = []
for category in selected_categories:
    data = df[df.category == category]
    new_df.append(data)

df = pd.concat(new_df,ignore_index=True)

In [13]:
#create a csv only with the selected categories to store at our database
df.to_csv("selected_news.csv",encoding="utf-8",index=False)

Removing columns that are not important for the model and keep only the headline and category

In [14]:
df.drop(columns=["authors","link","date","short_description"],inplace=True)
df.head(5)

  category                                           headline
0     ARTS  Modeling Agencies Enabled Sexual Predators For...
1     ARTS  Actor Jeff Hiller Talks “Bright Colors And Bol...
2     ARTS  New Yorker Cover Puts Trump 'In The Hole' Afte...
3     ARTS  J. K. Rowling Trolls Trump For Canceled UK Vis...
4     ARTS  Man Surprises Girlfriend By Drawing Them In Di...

In [15]:
df.groupby(["category"]).size()

category
ARTS         3878
BUSINESS     5937
EDUCATION    2148
SCIENCE      2178
SPORTS       4884
dtype: int64

In [16]:
#defining type of category 
df["category"] = df["category"].astype("category")
df.dtypes

category    category
headline      object
dtype: object

In [17]:
#changing categories to ordinal 
df["category"]=df["category"].cat.rename_categories([i for i in range(len(df["category"].unique()))])
df["category"]

0        0
1        0
2        0
3        0
4        0
        ..
19020    4
19021    4
19022    4
19023    4
19024    4
Name: category, Length: 19025, dtype: category
Categories (5, int64): [0, 1, 2, 3, 4]

Begining text preprocessing

In [18]:
def to_lowercase(text):
    text = text.lower()
    return text

In [19]:
test_text = df.loc[0].headline
test_text

'Modeling Agencies Enabled Sexual Predators For Years, Former Agent Says'

In [20]:
to_lowercase(test_text)

'modeling agencies enabled sexual predators for years, former agent says'

In [21]:
def fix_contractions(text):
    for k,v in contractions.contractions_dict.items():
        text = text.replace(k,v)
    return text

In [22]:
def punct_repetition(text,default_replace=""):
    text = re.sub(r"[\.\,\?\!]+(?=[\.\,\?\!])",default_replace,text)
    return text

In [23]:
def word_repetition(text):
    text = re.sub(r'(.)\1+',r'\1\1',text)
    return text

Applying text preprocessing at an exemple

In [24]:
test = "I'm going to mall!!!!"
fix_contractions(test)

'I am going to mall!!!!'

In [25]:
punct_repetition(test)

"I'm going to mall!"

In [26]:
teste = "woooord!"
word_repetition(test)

'woord!'

In [27]:
#download packages
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Talissa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [28]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Talissa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Create function `process_text` that apply all the text preprocessing steps, create tokens and remove stop works, punctuations and alphanumeric characters, finally, our tokens are stemming by applying Snowball Stemmer

In [29]:
def custom_tokenize(text,keep_punct=False,keep_alnum=False,keep_stop=False):
    
    token_list = word_tokenize(text)
    if not keep_punct:
        token_list = [ token for token in token_list if token not in string.punctuation]
    
    if not keep_alnum:
        token_list = [ token for token in token_list if token.isalpha()]
    
    if not keep_stop:
        stop_words = set(stopwords.words("english"))
        #remove no from stop words
        stop_words.discard("not")
        stop_words.discard("no")
        token_list = [token for token in token_list if not token in stop_words]
    
    return token_list

In [30]:
def stem_tokens(tokens,stemmer):
    token_list = []
    for token in tokens:
        token_list.append(stemmer.stem(token))
    return token_list

In [31]:
def process_text(text):
    #clean the text
    text = to_lowercase(text)
    text = fix_contractions(text)
    text = punct_repetition(text)
    text = word_repetition(text)
    
    #tokenize the text and returns stems 
    tokens = custom_tokenize(text,keep_stop=True,keep_alnum=True)
    snowball_stemmer = SnowballStemmer("english")
    stem = stem_tokens(tokens,snowball_stemmer)
    return stem

In [32]:
df["tokens"] = df["headline"].apply(process_text)
df["tokens"]

0        [model, agenc, enabl, sexual, predat, for, yea...
1        [actor, jeff, hiller, talk, “, bright, color, ...
2        [new, yorker, cover, put, trump, in, the, hole...
3        [j., k., rowl, troll, trump, for, cancel, uk, ...
4        [man, surpris, girlfriend, by, draw, ththem, i...
                               ...
19020         [thank, you, jame, dolan, and, time, warner]
19021    [maria, sharapova, stun, by, victoria, azarenk...
19022    [giant, over, patriot, jet, over, colt, among,...
19023    [aldon, smith, arrest, 49er, lineback, bust, f...
19024    [dwight, howard, rip, teammat, after, magic, l...
Name: tokens, Length: 19025, dtype: object

<p id='create_train_test_data'><a href='#create_train_test_data'>#</a></p>

# 3 - Create Training and Test data

In [33]:
df.head()

,category,headline,tokens
0,0,Modeling Agencies Enabled Sexual Predators For...,"[model, agenc, enabl, sexual, predat, for, yea..."
1,0,Actor Jeff Hiller Talks “Bright Colors And Bol...,"[actor, jeff, hiller, talk, “, bright, color, ..."
2,0,New Yorker Cover Puts Trump 'In The Hole' Afte...,"[new, yorker, cover, put, trump, in, the, hole..."
3,0,J. K. Rowling Trolls Trump For Canceled UK Vis...,"[j., k., rowl, troll, trump, for, cancel, uk, ..."
4,0,Man Surprises Girlfriend By Drawing Them In Di...,"[man, surpris, girlfriend, by, draw, ththem, i..."

Transform our tokens into vectors by applying the `tf-idf Vectorizer`.

In [34]:
def fit_tfidf(corpus):
    tf_vect = TfidfVectorizer(tokenizer=lambda x:x,
                            preprocessor= lambda x:x)
    tf_vect.fit(corpus)
    return tf_vect

In [35]:
#defining X and Y
X = df["tokens"]
y = df["category"]

In [36]:
tf_vect = fit_tfidf(X)

#transform for a matrix 
X_tf= tf_vect.transform(X)

C:\Users\Talissa\Documents\env\flask_projects\lib\site-packages\sklearn\feature_extraction\text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [37]:
len(tf_vect.vocabulary_)

16496

In [38]:
X = X_tf.todense()
X

matrix([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.31559294, 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ]])

In [39]:
tfidf_docs = pd.DataFrame(X)
tfidf_docs

,0,1,2,3,4,5,6,7,8,9,...,16486,16487,16488,16489,16490,16491,16492,16493,16494,16495
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.310224,0.315593,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
19021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
19022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
19023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
19024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0

In [40]:
#Centering the values around the mean
tfidf_docs = tfidf_docs - tfidf_docs.mean()
tfidf_docs

,0,1,2,3,4,5,6,7,8,9,...,16486,16487,16488,16489,16490,16491,16492,16493,16494,16495
0,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
1,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,0.310128,0.315514,-0.000041,-0.000031
2,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
3,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
4,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19020,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
19021,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
19022,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
19023,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
19024,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031

In [41]:
tfidf_docs[:10]

,0,1,2,3,4,5,6,7,8,9,...,16486,16487,16488,16489,16490,16491,16492,16493,16494,16495
0,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
1,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,0.310128,0.315514,-0.000041,-0.000031
2,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
3,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
4,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
5,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
6,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
7,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
8,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031
9,-0.002198,-0.000084,-0.000439,-0.000023,-0.017905,-0.002931,-0.000027,-0.0001,-0.000024,-0.000024,...,-0.000026,-0.000097,-0.000026,-0.000206,-0.001193,-0.003573,-0.000096,-0.000079,-0.000041,-0.000031

Reduce the dimensionality by applying PCA

In [42]:
pca = PCA()

In [43]:
pca = PCA(n_components=1000)
X_new = pca.fit_transform(tfidf_docs)

In [44]:
#Checking for similarity
pd.DataFrame(X_new[:10].dot(X_new[:10].T)).round(1)

     0    1    2    3    4    5    6    7    8    9
0  0.4 -0.0 -0.0  0.0 -0.0 -0.0 -0.0  0.1 -0.0 -0.0
1 -0.0  0.3 -0.0 -0.0 -0.0 -0.0 -0.0  0.0  0.0 -0.0
2 -0.0 -0.0  0.7  0.0  0.0 -0.0  0.0  0.0 -0.0 -0.0
3  0.0 -0.0  0.0  0.3  0.0  0.0 -0.0 -0.0 -0.0 -0.0
4 -0.0 -0.0  0.0  0.0  0.7 -0.0 -0.0  0.0 -0.0 -0.0
5 -0.0 -0.0 -0.0  0.0 -0.0  0.4  0.0  0.0  0.1 -0.0
6 -0.0 -0.0  0.0 -0.0 -0.0  0.0  0.2  0.0  0.0 -0.0
7  0.1  0.0  0.0 -0.0  0.0  0.0  0.0  0.5  0.0 -0.0
8 -0.0  0.0 -0.0 -0.0 -0.0  0.1  0.0  0.0  0.6 -0.0
9 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0 -0.0  0.5

In [45]:
new_df = pd.DataFrame(X_new)
new_df["category"] = y
new_df.head()

,0,1,2,3,4,5,6,7,8,9,...,991,992,993,994,995,996,997,998,999,category
0,-0.048235,-0.053161,0.016758,-0.046550,-0.018398,0.003234,0.122535,0.027764,-0.052936,-0.026089,...,-0.012579,0.001445,-0.002215,-0.003683,-0.005629,-0.023917,-0.008892,0.006718,0.004505,0
1,-0.019644,-0.045558,0.007477,-0.015181,-0.038157,0.047930,0.009867,-0.048251,0.078919,0.181145,...,0.002263,0.029282,0.030720,0.014208,0.020531,-0.000456,0.029026,0.007716,-0.006406,0
2,0.059524,-0.050630,0.014088,0.017499,0.034848,-0.002484,-0.010142,-0.091695,-0.015024,-0.065567,...,-0.017096,0.007416,-0.027577,-0.012833,-0.003222,-0.008765,-0.003832,-0.033195,-0.019726,0
3,-0.038662,-0.052088,0.010021,-0.038116,0.001186,0.001947,0.089429,0.032982,-0.010793,0.000645,...,0.025383,0.028813,0.028529,-0.016804,-0.001207,-0.015744,-0.026400,0.017910,0.026685,0
4,-0.019468,-0.072099,0.020274,0.015738,0.031711,0.031034,-0.030594,-0.085184,-0.026411,-0.033109,...,0.013856,0.005316,0.011261,0.004180,0.036561,0.003750,-0.010880,0.006684,0.006572,0

In [46]:
#Defining X and Y again
X = new_df.iloc[:,0:1000]
y = new_df.category

In [47]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [48]:
X_train.shape

(15220, 1000)

<p id='defining_model'><a href='#defining_model'>#</a></p>

# 4 - Defining the model

In [49]:
model_lr = LogisticRegression(solver="saga",multi_class="multinomial",random_state=84)
model_lr.fit(X_train,y_train)

LogisticRegression(multi_class='multinomial', random_state=84, solver='saga')

In [50]:
yproba = model_lr.predict_proba(X_test)
ypred_test = model_lr.predict(X_test)
ypred_train = model_lr.predict(X_train)


auc = roc_auc_score(y_test,yproba,multi_class="ovr")

print("------------------------------------------")

print(f"o modelo {model_lr.__class__.__name__} teve AUC de {auc*100:.2f}")
print(f"o modelo {model_lr.__class__.__name__} teve acuracia nos dados de teste de {accuracy_score(y_test,ypred_test)*100:.2f}")
print(f"o modelo {model_lr.__class__.__name__} teve acuracia nos dados de treino de {accuracy_score(y_train,ypred_train)*100:.2f}")

print("-------------------------------------------------")

------------------------------------------
o modelo LogisticRegression teve AUC de 95.06
o modelo LogisticRegression teve acuracia nos dados de teste de 79.11
o modelo LogisticRegression teve acuracia nos dados de treino de 82.69
-------------------------------------------------

In [51]:
y_pred_test = model_lr.predict(X_test)
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.75      0.75      0.75       751
           1       0.75      0.87      0.81      1201
           2       0.83      0.63      0.72       447
           3       0.88      0.63      0.73       456
           4       0.84      0.88      0.86       950

    accuracy                           0.79      3805
   macro avg       0.81      0.75      0.77      3805
weighted avg       0.80      0.79      0.79      3805

<p id='model_hyperparameters'><a href='#model_hyperparameters'>#</a></p>

# 5 - Model Hyperparameters tuning

In [52]:
params = {"C": np.linspace(1,10,10),"penalty":["l2","elasticnet"],"l1_ratio":[0.2,0.3,0.7]}
clf = RandomizedSearchCV(model_lr,params,cv=5,n_jobs=-1,n_iter=10)
clf.fit(X_train,y_train)

C:\Users\Talissa\Documents\env\flask_projects\lib\site-packages\sklearn\linear_model\_logistic.py:1476: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=l2)
  warnings.warn(

RandomizedSearchCV(cv=5,
                   estimator=LogisticRegression(multi_class='multinomial',
                                                random_state=84,
                                                solver='saga'),
                   n_jobs=-1,
                   param_distributions={'C': array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.]),
                                        'l1_ratio': [0.2, 0.3, 0.7],
                                        'penalty': ['l2', 'elasticnet']})

In [53]:
clf.best_estimator_

LogisticRegression(C=4.0, l1_ratio=0.3, multi_class='multinomial',
                   random_state=84, solver='saga')

In [54]:
best_model = clf.best_estimator_

In [55]:
#seeing the params
best_model.get_params()

{'C': 4.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': 0.3,
 'max_iter': 100,
 'multi_class': 'multinomial',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': 84,
 'solver': 'saga',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

<p id='results'><a href='#results'>#</a></p>

# 6 - Results

In [56]:
y_pred_train_bm = best_model.predict(X_train)
print(classification_report(y_train,y_pred_train_bm))

              precision    recall  f1-score   support

           0       0.83      0.84      0.83      3127
           1       0.82      0.90      0.86      4736
           2       0.88      0.71      0.79      1701
           3       0.88      0.76      0.82      1722
           4       0.89      0.91      0.90      3934

    accuracy                           0.85     15220
   macro avg       0.86      0.82      0.84     15220
weighted avg       0.86      0.85      0.85     15220

In [57]:
y_pred_test_bm = best_model.predict(X_test)
print(classification_report(y_test,y_pred_test_bm))

              precision    recall  f1-score   support

           0       0.75      0.76      0.75       751
           1       0.78      0.86      0.82      1201
           2       0.81      0.68      0.74       447
           3       0.84      0.68      0.75       456
           4       0.85      0.87      0.86       950

    accuracy                           0.80      3805
   macro avg       0.80      0.77      0.78      3805
weighted avg       0.80      0.80      0.80      3805

<p id='test'><a href='#test'>#</a></p>

# 7 - Testing 
Performing a test with a news article seen on HuffPost itself.

In [60]:
response = requests.get("https://www.huffpost.com/entry/apple-epic-games-ruling_n_613b856fe4b09519c5044f8d")

In [61]:
raw_data = BeautifulSoup(response.text,"html.parser")
title_tag = str(raw_data.title)
title_tag

"<title>Federal Judge Loosens Apple's Grip On App Store In Epic Games Ruling | HuffPost Latest News</title>"

In [62]:
strg= [txt for txt in  re.split(r"<title>|</title>",title_tag) if txt !='']
strg

["Federal Judge Loosens Apple's Grip On App Store In Epic Games Ruling | HuffPost Latest News"]

In [63]:
text_news = [txt for txt in re.split(r"\s\|\s\w+" ,strg[0]) if txt !=''][0]
text_news

"Federal Judge Loosens Apple's Grip On App Store In Epic Games Ruling"

In [64]:
def text_pipeline(text):
    processed_text = process_text(text)
    tfidf_text = tf_vect.transform([processed_text])
    tfidf_text = np.array(tfidf_text.todense())
    new_vec = pca.transform(tfidf_text)
    return new_vec

In [65]:
new_vec = text_pipeline(text_news)
new_vec

array([[ 1.56274528e-02, -4.55689468e-02,  1.73520746e-02,
         7.13842325e-05,  5.24754819e-02, -2.03750362e-02,
        -3.14255428e-02, -5.63772775e-02,  3.01206385e-02,
        -6.72532551e-02,  1.05787098e-01,  4.85780674e-02,
         1.27405923e-01, -1.64231538e-02,  6.41296674e-04,
        -1.72112676e-03,  9.54464423e-03,  1.83846464e-02,
         1.43156495e-02,  1.35659789e-02,  2.61644393e-02,
        -8.88551397e-03, -4.88552808e-04, -2.11745521e-02,
         1.16673980e-02, -4.45292615e-03, -2.39280116e-02,
        -3.71297178e-02,  1.13518946e-02,  3.01289167e-02,
         4.56676795e-02,  3.90809892e-02, -5.74575279e-03,
        -2.96437793e-03, -2.21860584e-02,  3.52616579e-03,
        -1.63369176e-02, -1.52356839e-02,  8.26469272e-03,
        -2.18573179e-02, -7.50575894e-03, -2.17629652e-02,
         4.67132906e-03,  2.25068266e-02,  8.48329582e-03,
         2.18284532e-02,  2.97758994e-02,  1.43310892e-02,
        -2.24731967e-02, -1.38525809e-02, -1.76515571e-03,
         4.51550101e-03, -1.15878049e-02, -3.01815944e-03,
        -1.21529435e-02,  6.91763689e-03, -1.23306822e-02,
         1.16074056e-02,  3.42073963e-03, -3.43470555e-02,
         1.45407117e-02,  2.81415510e-02,  1.86939658e-02,
         8.00369317e-03, -2.83833301e-02,  1.80179135e-02,
        -6.21472541e-03, -2.08357379e-02, -4.05541401e-02,
         1.28160559e-02, -1.76985255e-02, -1.75451689e-02,
         8.63011998e-02, -2.71400542e-02,  2.59666884e-02,
        -5.11551335e-02, -1.74607401e-02, -2.32322788e-02,
         7.34405542e-03,  1.14938877e-02,  4.58463702e-02,
        -6.93940852e-04,  2.71446173e-03, -1.14740183e-02,
         5.87611229e-03,  3.27892078e-02, -1.60828497e-02,
         1.01314783e-02, -7.90204263e-03,  4.44839016e-02,
         3.27055491e-02, -2.88540580e-02, -5.52223105e-02,
        -1.25671752e-02, -2.29290127e-02,  4.78452455e-04,
        -5.39571053e-03, -3.66444533e-02,  1.00881195e-02,
        -3.57034840e-02,  9.96144798e-03, -2.96709632e-02,
         1.62811511e-02, -1.88719358e-02, -3.36779938e-02,
        -2.11738216e-02,  1.86596499e-03, -2.00593778e-02,
        -1.91655516e-02,  2.21282116e-02, -1.28157289e-02,
         2.20200930e-02,  1.49714337e-03,  4.49857645e-03,
        -1.13234100e-02, -2.12076889e-02, -2.76856121e-02,
        -7.91601953e-03, -4.01295245e-02,  2.00556407e-02,
         2.02981661e-02, -2.55059635e-03,  1.01178494e-02,
         5.93846644e-03,  1.64647878e-02, -7.16939467e-03,
         1.79930803e-02,  1.73465230e-02,  7.88546814e-03,
        -6.92909695e-03,  2.88736891e-02,  1.02677157e-02,
        -8.10844530e-03, -5.16513972e-03,  5.82427989e-03,
        -1.06761615e-02, -7.16097713e-03, -1.83205476e-02,
        -5.18187819e-03, -1.38054032e-02, -7.67326066e-03,
        -9.02425269e-03,  6.70939502e-05,  1.93385065e-02,
        -3.92823869e-03,  1.88139972e-02, -2.64382586e-02,
        -2.19006904e-02, -1.27027719e-02,  2.04720011e-02,
        -2.09131643e-02,  1.16487974e-03,  1.49045991e-02,
        -1.79148172e-02, -2.59119938e-02, -1.17262623e-02,
         1.45132209e-02, -8.89100844e-03, -7.22605741e-04,
         1.40126711e-03, -5.29088566e-03, -1.32080588e-02,
         3.74274214e-03, -2.50855166e-03, -8.91086826e-04,
        -8.87861309e-03,  6.03035855e-03,  2.06574742e-02,
         5.37099586e-03,  2.43056619e-02,  8.09851624e-03,
         1.79731144e-02, -6.18982433e-03, -4.16030759e-03,
        -8.38439545e-03, -1.78120960e-03,  7.00963411e-03,
        -5.13403683e-03,  2.09525431e-03, -1.96510897e-03,
        -3.43797446e-03,  2.71862500e-03,  6.41957371e-03,
         4.73727692e-03,  1.34245875e-02, -1.09953654e-02,
         1.11957183e-03, -3.61301264e-03,  2.64642077e-02,
        -6.67712137e-03,  1.95577837e-03,  1.65105966e-02,
        -5.19562127e-04,  1.38363309e-02, -2.42668456e-02,
         8.01531651e-03, -1.07364656e-02, -1.72119052e-02,
        -1.69587539e-02,  1.49208661e-02, -6.09732745e-03,
        -1.90104945e-02, -4.03292849e-03, -1.01922844e-02,
         1.65460790e-02,  1.41030391e-02, -6.45324604e-03,
        -1.28390019e-02,  7.04550773e-03,  8.30422705e-03,
        -2.16131043e-02,  1.90429552e-02, -2.10210849e-02,
         2.68764331e-03,  4.02087817e-03,  2.80993623e-03,
         1.13414278e-02,  1.50454095e-02,  3.89655155e-02,
         3.68304531e-03, -2.91753463e-02,  3.61277075e-03,
         1.10752023e-02, -4.28870420e-03,  3.40872088e-03,
         1.13435129e-02, -6.50547975e-03, -7.79517661e-03,
         3.99680207e-02, -1.19264020e-02,  6.27260027e-03,
         7.84062685e-03,  1.28310429e-02,  2.63575095e-02,
         1.68120924e-02, -1.83847326e-02,  2.27073045e-02,
         4.16984277e-02,  1.41795217e-02, -1.05211763e-02,
         4.28152296e-03, -3.43375149e-02, -1.31788290e-02,
        -1.68638532e-03,  7.85237845e-03,  2.42296650e-02,
         2.98191017e-02,  5.46279801e-02, -1.01899635e-02,
        -3.64843229e-02, -3.25788016e-02, -2.00336584e-02,
        -2.67210393e-04, -3.72978871e-02,  1.84673139e-02,
         4.52854799e-02, -7.65266258e-04,  1.05087433e-02,
        -1.55745405e-02,  2.52948142e-02, -3.43192433e-02,
        -8.10904771e-03, -2.35226429e-03, -1.11197027e-02,
        -1.71467489e-02, -1.65953543e-02, -1.24390694e-03,
         3.53246173e-02, -4.76779153e-03, -1.65441215e-02,
         3.98595248e-03, -1.53928076e-02, -1.99262231e-03,
         9.77652807e-03,  3.40078012e-02,  4.26752983e-03,
        -3.55323832e-04,  1.65536837e-02,  3.75985130e-02,
        -2.87947977e-02,  2.01870473e-02, -1.80313771e-02,
         6.20551414e-03, -4.59173887e-02, -2.30747143e-02,
        -1.80962817e-02, -6.05810643e-04, -1.05637471e-02,
         3.36369811e-02,  1.14016230e-02,  2.05027698e-02,
        -2.02965930e-02, -1.74462658e-02, -3.41784306e-02,
        -8.05759145e-03, -1.33556662e-02, -1.78082732e-03,
        -3.75649108e-02,  4.81857151e-02, -4.49292563e-02,
        -3.86679584e-02,  4.15668387e-03,  1.34754892e-02,
        -1.91515333e-02, -2.04734664e-02, -2.66961589e-02,
         1.06660538e-02,  1.38919563e-02, -1.55461739e-02,
         2.85667799e-02, -3.37518793e-02, -2.41237770e-02,
         9.01050382e-03, -2.03248616e-02, -7.07095253e-04,
         4.39318722e-02,  3.14560598e-02,  2.05929479e-02,
        -2.62494221e-02,  1.84505704e-02,  3.10760948e-02,
         2.07589887e-02, -3.99738052e-03, -7.99405605e-03,
        -4.36179117e-02,  3.70009755e-02, -2.47268469e-02,
        -4.47004860e-02,  1.36131349e-02, -1.25965928e-02,
         1.60979504e-02,  6.05030309e-03, -3.96403593e-02,
         8.79723669e-03,  3.33276662e-02,  4.08455266e-02,
         2.31967879e-02, -7.53597181e-03, -9.35929123e-04,
        -1.73927738e-02, -3.54283333e-02, -2.00097283e-02,
         2.78329110e-03,  2.38129397e-02, -4.51344069e-02,
         8.58179632e-03,  4.17470948e-02,  1.45375863e-02,
        -1.88687224e-02,  1.67708544e-02, -1.54390855e-02,
        -3.43833205e-02, -2.84356387e-02,  2.50920245e-02,
        -2.08729956e-02,  5.69747051e-02, -1.28230627e-02,
         2.01761457e-02, -1.29485322e-03,  6.62851264e-03,
        -2.50862798e-02, -1.81532416e-02,  2.62716511e-02,
         4.22099660e-02,  2.13802950e-02,  4.02856383e-03,
         2.44082942e-02,  2.80822069e-02, -2.28990970e-02,
         3.73419930e-02,  4.63852839e-03,  1.64978168e-02,
        -1.46629910e-02,  1.12909435e-02,  1.64845376e-02,
        -2.56339861e-02, -1.96608537e-02, -2.48932597e-02,
         2.39420105e-02, -8.66185208e-03, -6.60015667e-03,
         4.07798031e-02, -1.60010249e-02, -2.38612787e-02,
        -5.62678389e-03,  3.17851789e-02, -5.25310735e-03,
         7.45246046e-03, -3.27266991e-02,  3.72360895e-02,
        -9.54874754e-03,  3.19201307e-02,  2.20342056e-02,
        -4.44953462e-05,  3.32111922e-03,  4.23018966e-03,
        -3.15497681e-02,  2.38277511e-02, -1.05597041e-02,
         5.87418702e-03, -4.12839432e-03,  1.00207757e-02,
        -1.23606891e-04,  3.16386825e-03, -1.28652901e-02,
         1.88757688e-02,  4.46989364e-03, -5.96934283e-03,
        -4.80313316e-03, -5.63591832e-03, -2.72160568e-02,
        -9.78009041e-04, -1.45820074e-02, -1.19614925e-02,
        -8.75911820e-03, -1.73052861e-03, -2.82341616e-02,
         2.77731799e-02, -1.05958653e-02,  5.39102493e-03,
         1.67794920e-02, -2.92665669e-02,  2.90258010e-02,
         2.77097349e-03, -1.19870448e-04, -2.25499086e-02,
         1.56985285e-02,  1.87729365e-02,  1.14186041e-02,
        -1.10893036e-02,  3.94911106e-02, -1.19568680e-02,
         3.24323097e-02,  1.71366852e-02, -3.19081288e-02,
         2.16605152e-02, -3.84471910e-02, -1.25742447e-02,
         2.61761506e-02, -9.66814070e-03, -3.19147747e-02,
         5.71724167e-03,  3.28511178e-02, -8.22968565e-03,
         2.62549883e-02, -3.07014105e-02, -6.18364042e-03,
        -4.73747210e-03,  1.61776768e-03,  1.24062754e-02,
         2.88227474e-02, -1.50423291e-02, -1.35118104e-02,
         4.58392454e-03,  2.69286716e-02, -1.30712825e-02,
        -2.12774700e-03, -5.25802605e-03, -3.82305473e-02,
         4.61400027e-02, -2.13467041e-02,  1.45696491e-02,
         3.04131472e-02,  2.09945604e-02,  5.59254219e-03,
         2.32636358e-03,  2.94897172e-02,  8.40339350e-03,
        -3.04093586e-03,  8.81694607e-03,  1.05154056e-02,
        -8.65988638e-03, -6.96196942e-03, -2.25105420e-02,
         3.78309027e-02,  8.74061087e-03,  1.85686118e-02,
         8.54720407e-03, -7.62379463e-03, -2.05123514e-02,
         1.73699242e-02, -3.65209431e-03,  2.12757511e-02,
        -2.36142937e-02,  2.01665679e-02,  1.55365111e-02,
        -3.32307387e-02,  2.17073286e-02,  6.65762333e-03,
        -2.80274703e-03, -1.16167346e-02, -2.45095654e-02,
         1.93569440e-02,  1.19256942e-02,  5.05299664e-04,
         5.61507592e-03,  1.84369471e-02, -4.80017633e-02,
        -1.18203551e-02, -1.29345218e-02, -1.05168145e-02,
        -8.09489857e-03, -1.10304094e-02,  4.66683428e-03,
        -2.48375337e-02, -5.88146172e-03,  1.51260407e-02,
        -1.56262259e-02,  8.23351762e-03, -8.79864981e-03,
         2.32440666e-04, -2.40110448e-02, -5.51637080e-03,
        -3.13065995e-04, -1.12507252e-02,  3.12674084e-02,
        -1.14659163e-02,  2.62542512e-02, -2.60876424e-02,
        -2.14046794e-02,  2.17834024e-02, -4.61042401e-02,
         1.30873269e-02,  2.75295134e-02, -6.33020938e-03,
         2.09246461e-02, -2.05180509e-02, -2.84383716e-03,
        -7.28490882e-03, -9.58423366e-03, -3.61552907e-02,
         2.95259845e-02, -3.43130841e-03,  4.48051144e-02,
        -9.85418746e-03,  1.80755835e-02,  1.22903100e-03,
         8.67971100e-03,  4.79626606e-03,  1.82611098e-02,
         1.00997635e-02, -7.66069303e-03,  6.81248048e-03,
        -3.10602339e-02, -6.18471829e-03,  5.76098443e-03,
        -7.13871190e-03, -1.37412255e-03, -1.38395049e-02,
         6.13722593e-02,  1.54883993e-02, -1.79497487e-02,
         2.91986543e-03, -3.89845481e-02, -9.93375759e-03,
         5.19419868e-03, -2.53580097e-02, -5.56193257e-02,
         4.58997090e-02,  8.38057216e-03, -7.64073661e-03,
        -1.30452974e-02, -3.60267647e-02,  2.74792148e-02,
        -1.93976742e-02, -5.22351487e-03,  3.94125417e-02,
         2.28220157e-03, -1.11007329e-02, -7.51175060e-03,
        -1.03516090e-02,  3.31609770e-02, -7.50911348e-03,
        -1.86690808e-02,  2.03096875e-03,  4.65777353e-03,
         9.05288702e-03,  2.08865762e-03,  1.11915394e-02,
         1.16986497e-02,  2.82185388e-02,  1.81159805e-02,
        -2.72512606e-02,  1.60321226e-03, -2.24015782e-02,
         5.04903430e-03,  1.70761947e-02,  2.56966358e-03,
         2.37738913e-02, -8.74959310e-03,  1.63502688e-02,
         1.09940476e-02,  3.32559141e-02,  3.58199704e-02,
         5.37292067e-02,  1.32214451e-02, -1.95508143e-02,
        -7.60409051e-03,  7.39297974e-03,  2.20665511e-02,
         4.65492895e-02, -2.61729093e-02,  1.62602153e-02,
        -8.66211911e-03, -2.57519194e-02,  2.33300213e-02,
        -3.59477769e-02, -2.68783459e-02,  9.51735442e-03,
         1.05567161e-02,  2.85670230e-02,  5.14830705e-03,
         3.66291646e-02, -1.36926143e-02,  2.65627354e-02,
        -1.88829473e-02,  4.10070853e-02, -6.27362892e-05,
        -1.01115522e-03, -7.16897097e-03,  1.10417998e-02,
        -1.28329000e-02, -3.20584857e-02,  2.34706475e-02,
        -3.66939643e-02, -9.04724329e-03,  1.94715436e-02,
        -6.66969975e-03, -2.19874691e-02, -2.49188579e-02,
         4.22363169e-02, -2.09717444e-02,  4.52981566e-02,
        -3.37365399e-02, -3.42291569e-05, -1.13365222e-02,
        -5.50340007e-03,  3.45399036e-02, -1.98637864e-03,
        -2.69059485e-02, -2.08808762e-03,  2.26081488e-02,
        -2.18730802e-02,  4.72681186e-02, -1.58609406e-02,
         4.86449301e-03,  2.49422303e-02, -7.04066882e-03,
        -9.72300324e-03,  3.97559957e-02, -6.46817715e-03,
         1.39493202e-03,  7.60056200e-03,  7.19436602e-04,
         1.25757238e-02, -3.45293271e-03,  2.79978231e-02,
         4.13785352e-03, -2.42226050e-03,  6.78337233e-03,
         6.54508956e-03, -4.00239863e-03,  4.27970919e-02,
        -2.66736798e-02, -1.04293285e-03, -2.64970445e-03,
         1.17510929e-02,  2.55331936e-04,  2.17808993e-03,
        -1.30643346e-02, -1.54986750e-02, -4.42053461e-03,
         1.09903780e-02,  2.79058829e-03, -8.78131785e-03,
         3.22007624e-02, -8.74723142e-03, -1.63621026e-03,
        -3.63658625e-02,  1.11133700e-02,  1.49019596e-03,
        -1.08263415e-02,  1.37638986e-02,  2.80469671e-02,
        -5.13757565e-04,  6.90817835e-03, -3.58160884e-04,
        -2.37148121e-02,  3.68388692e-03,  1.27111621e-02,
         3.77067434e-02, -1.52103506e-02, -1.13047184e-02,
         2.84951597e-02,  1.19927662e-02, -2.02520399e-03,
         8.85788459e-03,  1.29490050e-02, -6.21561315e-03,
        -2.10131482e-02,  2.19854776e-02, -8.46683499e-04,
         1.96522091e-03, -2.09805719e-02, -1.41555338e-03,
         3.05033600e-02,  2.73106442e-02, -7.29399155e-05,
        -9.85743061e-03, -3.64239847e-02, -4.73702766e-02,
        -3.07638010e-02,  1.48964994e-02, -1.43332055e-02,
         2.90943202e-04,  1.14690623e-02,  6.00150972e-03,
         2.14276623e-02, -9.45778582e-03,  2.58235000e-02,
         2.31747287e-02,  6.40728678e-03, -1.10760072e-02,
        -2.41086384e-02,  9.09718927e-03,  2.62678546e-02,
         5.03798596e-03,  5.97210452e-02, -1.24144094e-02,
        -3.16803095e-02,  7.17253295e-03, -2.98867440e-03,
         1.94079408e-02, -4.55205207e-03, -3.73742027e-05,
         3.56813104e-02,  2.58573959e-02,  4.34569078e-02,
         1.46343751e-02, -8.80855234e-03,  1.76381539e-02,
         3.76960168e-02, -1.01405354e-02,  1.61186739e-02,
        -9.00626403e-03,  2.50988452e-02, -8.45612934e-03,
         4.75317156e-03,  2.20243675e-02, -2.52179478e-02,
         3.81924727e-02, -2.16377453e-02, -1.24266543e-02,
        -5.36071182e-03,  4.19720905e-03,  1.01309535e-02,
        -5.14458328e-02,  6.37077170e-03,  4.63850545e-03,
         3.21071809e-02,  1.53256593e-02,  8.92636855e-03,
         1.16104014e-04,  7.15870947e-02, -3.71552000e-03,
        -1.98535880e-02,  2.63743173e-02, -1.22774320e-02,
         2.36815633e-04,  1.51959645e-03, -2.05155373e-02,
         2.17941255e-02, -3.51920041e-02,  1.27283346e-02,
        -8.13152333e-03,  2.25255794e-02,  1.33854562e-03,
         3.03314080e-02, -3.40928194e-03,  2.93457951e-02,
         9.35344821e-03, -1.73413051e-02, -2.66212791e-02,
         3.33723222e-03,  1.19642398e-02,  1.01130902e-02,
         2.35464229e-02, -2.86809161e-02,  5.53143605e-02,
        -3.56531701e-02, -2.76230306e-02, -7.37080556e-03,
         4.72939084e-02, -4.44305620e-02,  3.95241139e-02,
         1.22886048e-02,  3.47535470e-03,  1.60444639e-02,
         1.97860084e-03, -7.73069905e-03, -1.30775958e-02,
        -1.38064803e-02,  5.81083365e-03,  2.91810408e-03,
         1.08626740e-02, -4.71865741e-03,  1.63139828e-02,
        -3.21417913e-02,  1.08334721e-02,  4.48206592e-03,
         9.77036529e-03,  2.04089842e-02,  1.82011603e-02,
         4.02181589e-02, -2.24892116e-02, -1.87940495e-02,
         1.90566506e-02,  1.10170476e-02,  2.11723717e-02,
         4.39117819e-03, -9.30023617e-03,  1.96031439e-02,
         2.87657556e-02, -2.94893616e-02, -1.02097749e-03,
         4.87045907e-02,  3.59674723e-02, -8.66337863e-03,
        -2.62075530e-03, -2.97800093e-03, -3.36334928e-03,
         2.51579951e-02,  2.52664863e-02, -1.12314842e-02,
         2.95365297e-03, -4.73290504e-03, -2.37163209e-02,
         2.38013304e-02,  1.27566834e-03, -1.69316968e-02,
        -2.20915246e-02,  3.82143664e-02,  6.88745187e-03,
        -1.75721492e-02,  1.84324682e-02,  5.42425801e-02,
        -1.72501426e-02, -3.64235174e-03, -9.93395063e-03,
        -1.15714629e-02, -3.21927123e-02,  6.43676661e-03,
         4.48514768e-03,  1.37974869e-02, -9.52172179e-03,
        -5.79604856e-02,  5.09111903e-03, -1.97293117e-02,
         1.87583693e-02, -2.72956219e-02, -9.09141610e-03,
         1.07956853e-02, -3.56388878e-03, -2.64702976e-02,
        -1.82491181e-02,  2.07638981e-02, -3.24569129e-02,
         2.06175872e-02, -9.94916695e-03,  8.75588127e-03,
        -2.04572406e-02,  1.74184878e-02, -2.01186952e-02,
        -1.20069558e-02, -5.04309507e-03, -5.17806498e-04,
         1.75674104e-02,  1.56314898e-02, -1.04719241e-04,
        -1.00230331e-02,  2.71747205e-02, -4.41697789e-02,
         1.03019737e-02, -2.39597338e-02,  2.69722386e-03,
        -1.06813659e-02, -2.16354472e-02, -1.42753997e-02,
        -3.43838238e-02,  7.97439516e-03, -1.14974470e-02,
         6.07302463e-03, -1.79677587e-02, -5.13810455e-03,
         2.58358535e-02, -2.59894091e-02,  1.94105441e-04,
         5.38595000e-03,  8.89089392e-03,  1.57450636e-02,
        -7.29560944e-03, -8.34602582e-04,  7.70369820e-03,
         4.97465415e-02, -1.23822594e-02, -6.64172733e-03,
         1.37803189e-02,  4.30713233e-03,  5.88078635e-03,
        -1.12302092e-02,  3.27821886e-02, -4.84788953e-02,
         1.27769994e-02, -1.86298994e-02, -9.50206553e-03,
        -1.73834840e-03,  1.27588571e-02,  2.83872030e-02,
        -2.77517391e-02, -8.69059916e-03, -4.03650782e-02,
         5.81783742e-02, -1.02769900e-02, -9.40542265e-03,
         3.54200085e-04, -4.45767982e-03, -1.16324706e-02,
        -5.89256693e-03,  4.30845731e-03, -5.15614375e-04,
        -1.14297693e-02,  2.07941391e-03,  1.39201399e-02,
         7.38543955e-04, -1.78650901e-02, -3.14208071e-02,
        -1.15065127e-02, -5.61085488e-03,  1.68616148e-03,
        -4.29469259e-02,  1.78221467e-02, -1.24272135e-02,
        -2.00425596e-02, -1.94236745e-02, -1.29872704e-02,
         3.03022507e-02,  5.95451561e-03,  9.21986745e-03,
         4.09456513e-02,  7.95289197e-04, -2.50022853e-02,
        -2.23102770e-02, -8.12845939e-03,  1.43689638e-02,
         2.48787182e-02,  9.90789151e-03,  1.41751338e-02,
        -1.50397180e-02, -1.60263209e-02, -3.39226217e-02,
        -5.56718805e-03, -6.64638787e-03,  4.20097556e-03,
         2.76391695e-02,  4.13276979e-03,  3.02690258e-02,
        -2.07555813e-02,  3.80137422e-03, -6.61135431e-04,
         4.49555457e-03,  1.67287682e-03,  2.25328824e-02,
        -1.29911223e-02,  1.09210226e-02,  3.79156415e-03,
        -1.59455842e-02, -8.25960388e-03,  1.89510189e-02,
        -6.58322605e-03,  1.75324998e-02, -1.48794319e-02,
         3.59999352e-03,  1.80943446e-02,  3.40063933e-03,
        -5.74984817e-03,  6.86611566e-03,  1.91660622e-03,
        -1.51110178e-02, -4.03794483e-02, -1.14394564e-02,
         7.57658364e-03,  2.90192669e-02,  1.26240253e-02,
        -2.54937463e-02, -2.09854041e-02,  4.12370417e-03,
         6.68110385e-03,  1.57784983e-02,  3.02009981e-02,
        -4.50520047e-03]])

In [66]:
best_model.predict(new_vec)

array([1], dtype=int64)

The news is about the Apple company and the model we created categorized it as "Business" which is correct! Yay!

Saving the model and text preprocessing functions (tf_vect e pca)

In [67]:
filename_model = "./save/my_model.sav"
pickle.dump(best_model,open(filename_model,"wb"))

In [68]:
import cloudpickle

filename_tf_vec = "./save/tf_vec.sav"
cloudpickle.dump(tf_vect,open(filename_tf_vec,"wb"))

In [69]:
filename_pca = "./save/pca.sav"
pickle.dump(pca,open(filename_pca,"wb"))